{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/CheckUnpaidOrder.css'%}">
    <link rel="stylesheet" href="{% static 'css/bs4.pop.css'%}">
    <title>结账</title>
</head>

<body>

    <div class="container">
        <div class="col" style="height: 50px;"></div>
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-8 list-group">
                {% for order in orderList %}
                <!-- Default unchecked -->
                <div class="row">
                    <div class="col-1 order-check-box text-center"></div>
                    <div class="col ml-1 list-group-item order" order_id={{order.ID}} order_price={{order.total_price}}>
                        <a href="/order/q{{order.ID}}">
                            <div class="row">
                                <div class="col-4">{{order.create_time|date:"Y-m-d H:i"}}</div>
                                <div class="col-5 text-center">桌号：{{order.table_id}}</div>
                                <div class="col-3 price_badge text-right">
                                    <h4><span class="badge badge-danger badge-pill">￥ {{order.total_price}}</span></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col"></div>
        </div>
    </div>

    <!-- 底部填空区域 -->
    <div style="height:80px"></div>
    <!-- 底部导航栏 -->
    <div class="BottomNavBar NavBar row fixed-bottom border-top" style="height:80px">
        <div class="col-3 m-auto text-center" id="orderPrice"
            style="font-size: 40px; line-height: 40px; color: rgb(243, 47, 47)">￥ <span id="total_price">0.00</span></div>
        <div class="col-5 m-auto"></div>
        <div class="col-4 m-auto">
            <div class="row">
                <div class="col">
                    <a href="/">
                        <button class="btn btn-light btn-block">返回</button>
                    </a>
                </div>
                <div class="col mr-3">
                    <button class="btn btn-success btn-block" id="OrderSubmit">批量支付</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/CheckUnpaidOrder.js' %}"></script>
    <script src="{% static 'js/bs4.pop.js' %}"></script>

</body>

</html>