{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/FoodSupplier.css'%}">
    <title>后 厨</title>
    <style>
        a:hover {
            text-decoration: none;
        }
        .t-h .col{
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row mx-4 mt-4 t-h">
            <div class="col">订单号</div>
            <div class="col">菜号</div>
            <div class="col">菜名</div>
            <div class="col">数量</div>
            <div class="col">状态</div>
            <div class="col"></div>
        </div>
        <hr>
        <div id="orders">
            <!-- 动态填充 -->
        </div>

        <!-- 底部填空区域 -->
        <div style="height:60px"></div>
        <!-- 底部导航栏 -->
        <div class="BottomNavBar NavBar row fixed-bottom border-top"
            style="height:80px;background-color:#f7f7f7;height:60px;">
            <div class="col-5 m-auto"></div>
            <div class="col-4 m-auto">
                <div class="row">
                    <div class="col"></div>
                    <div class="col mr-3">
                        <a href="/">
                            <button class="btn btn-success btn-block">返 回</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
    <script src="{% static 'js/FoodSupplier.js' %}"></script>

</body>

</html>