{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/FoodSupplier.css'%}">
    <title>后 厨</title>
</head>

<body>

    <div class="container">
        <div class="row mx-4 mt-4">
            <div class="col">订单号</div>
            <div class="col">菜号</div>
            <div class="col">菜名</div>
            <div class="col">数量</div>
            <div class="col">状态</div>
            <div class="col"></div>
        </div>
        <hr>
        <div id="orders">
            <!-- 动态填充 -->
        </div>
    </div>

    <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
    <script src="{% static 'js/FoodSupplier.js' %}"></script>

</body>

</html>