{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/OrderHome.css'%}">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid mt-3">
        <!-- 主区域 -->
        <div class="row">
            <!-- 左侧订单信息区域 -->
            <div class="col-4" style="min-width: 400px;">
                <div class="card">
                    <ul class="list-group" id="OrderList">
                        <!-- 订单明细 一条商品记录 -->
                        <!-- <li class="list-group-item" foodID=1>
                            <div class="row">
                                <div class="col-5"><span class="align-middle">菜名</span></div>
                                <div hidden class="foodPrice">15.0</div>
                                <div class="input-group input-group-sm col-4">
                                    <div class="input-group-prepend">
                                        <button class="btn input-group-text SubFood" type="button">-</button>
                                    </div>
                                    <input type="text" class="FoodAmount form-control text-center" value="1"
                                        style="max-width: 50px;">
                                    <div class="input-group-append">
                                        <button class="btn input-group-text AddFood" type="button">+</button>
                                    </div>
                                </div>
                                <div class="col-2 p-0"><span class="aligin-middle"
                                        style="line-height:30px">￥15.00</span></div>
                                <div class="col-1 p-0"><button class="DeleteItemBtn btn btn-sm p-1">删</button></div>
                            </div>
                        </li> -->
                        
                    </ul>
                </div>
            </div>

            <!-- 右侧商品信息区域 -->
            <div class="col-8">
                <div class="row">
                    <!-- 商品类目 -->
                    <div class="col-2">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                                role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                                role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                                role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                                role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                        </div>
                    </div>
                    <!-- 商品卡片信息 -->
                    <div class="col-10">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">
                                <div class="row">
                                    <!-- 单个菜品方块区域 -->
                                    {% for food in foodList %}
                                    <div class="col-md-3 col-xs-4 mb-3">
                                        <a class="FoodItem" href="#">
                                            <div class="card FoodCard">
                                                <div class="card-body" foodID={{food.ID}}>
                                                    <h5 class="card-title">{{food.title}}</h5>
                                                    <span class="FoodAmount text-left">{{food.amount}}</span>
                                                    <span class="FoodPrice text-right float-right">￥{{food.price}}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">
                                <div class="row">
                                    <!-- 单个菜品方块区域 -->
                                    <div class="col-md-3 col-xs-4">
                                        <p class="text-left">另一个菜单</p>
                                        <div class="row">
                                            <div class="col">
                                                <span class="text-left">20</span>
                                                <span class="text-right float-right">$15</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                aria-labelledby="v-pills-messages-tab">
                                <div class="row">
                                    <!-- 单个菜品方块区域 -->
                                    <div class="col-md-3 col-xs-4">
                                        <p class="text-left">哈哈哈哈哈哈哈</p>
                                        <div class="row">
                                            <div class="col">
                                                <span class="text-left">20</span>
                                                <span class="text-right float-right">$15</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                aria-labelledby="v-pills-settings-tab">
                                <div class="row">
                                    <!-- 单个菜品方块区域 -->
                                    <div class="col-md-3 col-xs-4">
                                        <p class="text-left">和艰苦大师傅就开始</p>
                                        <div class="row">
                                            <div class="col">
                                                <span class="text-left">20</span>
                                                <span class="text-right float-right">$15</span>
                                            </div>
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- 底部填空区域 -->
        <div style="height:80px"></div>
        <!-- 底部导航栏 -->
        <div class="NavBar row fixed-bottom border-top" style="height:80px">
            <div class="col-6 m-auto"></div>
            <div class="col-2 m-auto" style="font-size: 40px; line-height: 40px; color: rgb(243, 47, 47)">￥ 180.00</div>
            <div class="col-4 m-auto">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-light btn-block">会员</button>
                    </div>
                    <div class="col mr-3">
                        <button class="btn btn-primary btn-block">结账</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- <script>
        $(function () {
            $('#my-test-tab a[href="#profile"]').tab('show')
        })
        $('#my-test-tab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script> -->
    <script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.js"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/Order.js' %}"></script>
    <script src="{% static 'js/OrderHome.js' %}"></script>

</body>

</html>