{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/OrderHome.css'%}">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid mt-3">
        <!-- 主区域 -->
        <div class="row">
            <!-- 左侧订单信息区域 -->
            <div class="col-4" style="min-width: 400px;">
                <div class="card">
                    <ul class="list-group" id="OrderList">
                        <!-- 订单明细 一条商品记录 -->
                    </ul>
                </div>
            </div>

            <!-- 右侧商品信息区域 -->
            <div class="col-8">
                <div class="row">
                    <!-- 商品类目 -->
                    <div class="col-2">
                        <div class="nav flex-column nav-pills" id="foodTypeTab" role="tablist"
                            aria-orientation="vertical">

                            {% for foodType in foodTypeList %}
                            <a class="nav-link" id="v-pills-tab-foodType-{{foodType.ID}}" data-toggle="pill"
                                href="#v-pills-content-foodType-{{foodType.ID}}" role="tab">{{foodType.name}}</a>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- 商品卡片信息 -->
                    <div class="col-10">
                        <div class="tab-content" id="foodTypeTabContent">
                            {% for foodType in foodTypeList %}
                            <div class="tab-pane fade" id="v-pills-content-foodType-{{foodType.ID}}" role="tabpanel">
                                <div class="row">

                                    {% for food in foodList %}
                                    {% if food.foodType.ID == foodType.ID %}
                                    <div class="col-md-3 col-xs-4 mb-3">
                                        <a class="FoodItem" href="#">
                                            <div class="card FoodCard">
                                                <div class="card-body" foodID={{food.ID}}>
                                                    <h5 class="card-title">{{food.title}}</h5>
                                                    <span class="FoodAmount text-left">{{food.amount}}</span>
                                                    <span
                                                        class="FoodPrice text-right float-right">￥{{food.price}}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                            {% endfor %}


                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- 底部填空区域 -->
        <div style="height:80px"></div>
        <!-- 底部导航栏 -->
        <div class="NavBar row fixed-bottom border-top" style="height:80px">
            <div class="col-5 m-auto"></div>
            <div class="col-3 m-auto" id="orderPrice"
                style="font-size: 40px; line-height: 40px; color: rgb(243, 47, 47)">￥ 0.00</div>
            <div class="col-4 m-auto">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-light btn-block">返回</button>
                    </div>
                    <div class="col mr-3">
                        <button class="btn btn-primary btn-block" id="OrderSubmit">结账</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.js"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/Order.js' %}"></script>
    <script src="{% static 'js/OrderHome.js' %}"></script>

</body>

</html>