{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                订单列表 订单列表 订单列表 订单列表 订单列表 订单列表 订单列表 订单列表 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id obcaecati fugit ipsa suscipit aperiam dolorem ducimus, voluptatibus velit autem atque iste dolores fugiat quam incidunt soluta laudantium nulla aut pariatur!
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-2">
                        商品种类 商品种类 商品种类 商品种类 商品种类 商品种类 商品种类 商品种类 商品种类 商品种类 商品种类 商品种类 商品种类 商品种类 商品种类 商品种类 
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                            <div class="col-3">商品甲</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fixed-bottom">
            <div class="col-2">
                $ 180
            </div>
            <div class="col-6"></div>
            <div class="col-4">
                <div class="row no-gutter">
                    <div class="col">
                        <button class="btn btn-light btn-block">会员</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary btn-block">结账</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>