{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css'%}">
    <title>订单信息</title>
    <style>
        #returnBtn {
            color: #b3b3b3;
        }

        #returnBtn:hover {
            color: #2c2c2c;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col" id="order" order_id={{order.ID}}>订单编号：
                <span class="badge {%if order.is_pay%}badge-success{%else%}badge-danger{%endif%}">{{order.ID}}</span>
            </div>
            <div class="col">创建时间：{{order.create_time|date:'Y-m-d H:i:s'}}</div>
            <div class="col">支付时间：{{order.pay_time|date:'Y-m-d H:i:s'}}</div>
            <div class="col">支付状态：{% if order.is_pay %}已支付{%else%}未支付{%endif%}</div>
        </div>

        <hr>
        <div class="row">
            {% for food in foodList %}
            <div class="col-2 ml-3 mt-3 card card-body">
                <div class="">编号：{{food.ID}}</div>
                <div class="">名称：{{food.title}}</div> 
                <div class="">数量：{{food.amount}}</div>
                <div class="">总价：{{food.sum_price}}</div>
                <div class="">接单时间：{{food.start_cook_time|date:'H:i:s'}}</div>
                <div class="">完成时间：{{food.end_cook_time|date:'H:i:s'}}</div>
            </div>

            {% endfor %}
        </div>

    </div>



    <!-- 底部填空区域 -->
    <div style="height:80px"></div>
    <!-- 底部导航栏 -->
    <div class="BottomNavBar NavBar row fixed-bottom border-top" style="height:80px">
        <div class="col-3 m-auto text-center" id="orderPrice"
            style="font-size: 40px; line-height: 40px; color: rgb(243, 47, 47)"></div>
        <div class="col-5 m-auto"></div>
        <div class="col-4 m-auto">
            <div class="row">
                <div class="col">
                    <a href="/" class="btn btn-light btn-block" id="returnBtn">返回主页</a>
                </div>
                {% if not order.is_pay %}
                <div class="col mr-3">
                    <button class="btn btn-success btn-block" id="check-out-btn">支付订单</button>
                </div>
                {% else%}
                <div class="col mr-3"></div>
                {% endif %}
            </div>
        </div>
    </div>


    <script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.js"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/CheckOut.js' %}"></script>
</body>

</html>