a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.order {
    padding: 0 20px;
    height: 60px;
    font-size: 23px;
    line-height: 60px;
}

.order .price_badge {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order:hover {
    color: #a56c6c;
    background-color: #ffd4d8d1;
}

.BottomNavBar {
    height: 80px;
    background-color: #f8f9fa;
}


/* 订单多选 CheckBox */
.order-check-box {
    border: 1px solid #28a745;
    border-radius: 5px;
}

.order-check-box:hover {
    background-color: #28a745;
    cursor: pointer;
}

.order-check-box:before {
    z-index: 1;
    content: "√";
    color: #ffffff;
    font-size: 35px;
}


/* checkout 选中效果 box */
.check {
    background-color: #28a745;
}

/* checkout 选中效果 order */
.check-order-green {
    color: #094616;
    background-color: #76f79449;
}