a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}



/* 卡片 Hover 点击效果 */

.FoodCard {
    z-index: 1;
    font-size: inherit;
    overflow: hidden;
    transition: color 0.2s ease-in-out;
}

.FoodCard::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #dae3ff;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.3s ease-in-out;
}

.FoodCard:hover {
    color: rgb(82, 94, 255);
}

.FoodCard:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}


#table-option-sheet {
    display: none;
}

#table-option-sheet .card {
    background-color: #f8f9fa;
    width: 350px;
    bottom: 90px;
}

/* 底部导航栏 */
.BottomNavBar {
    height: 80px;
    background-color: #f8f9fa;
}


.DeleteItemBtn {
    border-radius: 50%;
}

.totalPrice {
    /* color: #f32f2f; */
}