{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css'%}">
    <title>餐桌表</title>
    <style>
        body {
            background-color: #f7f7f7;
        }

        a:hover {
            text-decoration: none;
        }

        #load-form{
            height:80px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row mt-3">
            <div class="col-2"></div>
            <div class="col-8">
                <h1>餐桌</h1>
                <table class="table">
                    <tr>
                        <th>桌号</th>
                        <th>桌名</th>
                        <th>负责员工ID</th>
                        <th>负责员工姓名</th>
                        <th></th>
                    </tr>
                    {% for table in tables %}
                    <tr>
                        <td>{{table.table_id}}</td>
                        <td>{{table.table_name}}</td>
                        <td>{{table.staff_id}}</td>
                        <td>{{table.staff_name}}</td>
                        <td><button class="btn btn-sm btn-danger delete-table" table_id={{table.table_id}}>删</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

                <hr>
                <form class='form-group load-form row' action='/manage/tables' method='POST'>
                    {{form}}
                    <input class="btn btn-primary mt-3" type='submit' value='添加餐桌' />
                </form>
            </div>
            <div class="col-2"></div>
        </div>
        <!-- 底部填空区域 -->
        <div style="height:60px"></div>
        <!-- 底部导航栏 -->
        <div class="BottomNavBar NavBar row fixed-bottom border-top"
            style="height:80px;background-color:#f7f7f7;height:60px;">
            <div class="col-5 m-auto"></div>
            <div class="col-4 m-auto">
                <div class="row">
                    <div class="col"></div>
                    <div class="col mr-3">
                        <a href="/manage">
                            <button class="btn btn-success btn-block">返 回</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
    <script src="{% static 'js/load_form.js' %}"></script>
    <script>
        $(document).ready(function () {
            // 删除
            $(".delete-table").off("click").click(function () {
                id = $(this).attr("table_id")

                if (window.confirm("确认删除？")) {
                    $.post('/manage/dark', post_data = {
                        double: false,
                        table: 'staff_table',
                        id: id,
                    })
                }
                location.reload()
            })
        })
    </script>

</body>

</html>